<h1>Contacts</h1>

<h3>Create a new contact:</h3>

<form action="/contacts" method="post">
  <div class="form-group">
    <label for="name">Name:</label>
    <input id="name" name="name" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Add</button>
</form>

<ul>
  <% @contacts.each() do |contact| %>
    <li><a href="/contacts/<%= contact.id() %>"><%= contact.name() %></a></li>
  <% end %>
</ul>
